@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #ffffff; */
}

.button-base {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.button-base:active {
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.custom-button {
  background-color: #64748b;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.custom-button:active {
  background-color: #525e73;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
